<a href="https://colab.research.google.com/github/sadikinisaac/NLP2/blob/master/TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Two documents in the Corpus

docA= "The dog sat on my lap"

docB = "The cat sat on my bed"

In [3]:
bowA = docA.split(' ')
bowB = docB.split(' ')

bowB

['The', 'cat', 'sat', 'on', 'my', 'bed']

In [4]:
word_set = set(bowA).union(set(bowB))

word_set

{'The', 'bed', 'cat', 'dog', 'lap', 'my', 'on', 'sat'}

In [5]:
dictA = dict.fromkeys(word_set, 0)
dictB = dict.fromkeys(word_set, 0)

dictA

{'The': 0, 'bed': 0, 'cat': 0, 'dog': 0, 'lap': 0, 'my': 0, 'on': 0, 'sat': 0}

In [6]:
# Count words present in each bag and update count in the dict

for word in bowA:
    dictA[word] += 1

for word in bowB:
     dictB[word] += 1

dictA

{'The': 1, 'bed': 0, 'cat': 0, 'dog': 1, 'lap': 1, 'my': 1, 'on': 1, 'sat': 1}

In [7]:
import pandas as pd

pd.DataFrame([dictA, dictB])

   The  cat  dog  my  sat  on  lap  bed
0    1    0    1   1    1   1    1    0
1    1    1    0   1    1   1    0    1

In [0]:
#TF-IDF

In [0]:
def compute_term_frequency(word_dict, bow):
    tf_dict = {}
    total_no = len(bow)
    for word, count in word_dict.items():
        tf_dict[word] = count/total_no
    return tf_dict

In [9]:
tfBowA = compute_term_frequency(dictA, bowA)
tfBowB = compute_term_frequency(dictB, bowB)
tfBowA

{'The': 0.16666666666666666,
 'bed': 0.0,
 'cat': 0.0,
 'dog': 0.16666666666666666,
 'lap': 0.16666666666666666,
 'my': 0.16666666666666666,
 'on': 0.16666666666666666,
 'sat': 0.16666666666666666}

In [0]:
def compute_inverse_df(doc_list):
    import math
    # doc_list= [{{'The': 0, 'bed': 0, 'cat': 0, 'dog': 0, 'lap': 0, 'my': 0, 'on': 0, 'sat': 0}}]
    no = len(doc_list)
    idf_dict = {}
    
    idf_dict = dict.fromkeys(doc_list[0].keys(),0)
    for doc in doc_list:
        for word, count in doc.items():
            if count > 0:
                idf_dict[word] +=1
    
    for word,count in idf_dict.items():
        idf_dict[word] = math.log(no/count)
    return idf_dict

In [0]:
idfs = compute_inverse_df([dictA, dictB])

In [0]:
def compute_TFIDF(tf_bow, idfs):
    tfidf={}
    for word,count in tf_bow.items():
        tfidf[word] = count * idfs[word]
    return tfidf

In [0]:
tfidfbowA = compute_TFIDF(tfBowA, idfs)
tfidfbowB = compute_TFIDF(tfBowB, idfs)

In [14]:
import pandas as pd
pd.DataFrame([tfidfbowA, tfidfbowB])

   The       cat       dog   my  sat   on       lap       bed
0  0.0  0.000000  0.115525  0.0  0.0  0.0  0.115525  0.000000
1  0.0  0.115525  0.000000  0.0  0.0  0.0  0.000000  0.115525